@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	overflow-x: hidden;
}

.line {
	border-bottom: 3px solid #f56;
	width: 170px;
	margin-bottom: 10px;
	display: block;
}

.text-box {
	padding: 20px 30px;
	font-size: 1.7rem;
}

.content img {
	object-fit: cover;
	width: 100%;
	height: 400px;
}

.content-box {
	padding: 20px 30px;
	position: absolute;
	top: 60%;
	z-index: 1;
	background: white;
	width: 30%;
	right: 10%;
	box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.3);
}

.content-box h2 {
	font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
	.content-box h2 {
		font-size: 1.5rem;
	}
	.content-box {
		padding: 10px 20px;
		position: absolute;
		top: 50%;
		z-index: 1;
		background: white;
		width: 90%;
		right: 5%;
		box-shadow: 10px 10px 40px 5px rgba(0, 0, 0, 0.3);
	}
	.content img {
		height: 300px;
	}
	.text-box {
		padding: 20px 30px;
		font-size: 1.2rem;
	}
	.line {
		width: 100px;
	}
}
