@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

form {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.input-group input {
  border: 0;
  z-index: 1;
  background-color: #eee;
  border-bottom: 2px solid #eee;
  padding: 0.4rem 0;
}

.input-group label {
  color: #6658d3;
  position: absolute;
  top: -5px;
  left: 0;
  transition: 0.25s ease;
}

.input-group input:focus {
  outline: 0;
  border-bottom-color: #6658d3;
}

.input-group input[type="submit"] {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: #6658d3;
  color: #eee;
}

#error {
  color: #e74c3c;
  padding-top: 20px;
}
