@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	overflow-x: hidden;
}

form {
	padding: 50px 80px;
	width: 100%;
}

.input {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.input input {
	margin: 20px 0;
	padding: 10px 20px;
	width: 60%;
}

input[type="submit"] {
	border-radius: 8px;
	border: none;
	cursor: pointer;
}

.input input:focus {
	outline: 0;
	border-color: #777;
}

.input.success input {
	border-color: #2ecc71;
}

.input.error input {
	border-color: #e74c3c;
}

.input small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.input.error small {
	visibility: visible;
}
