@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	overflow-x: hidden;
}

.container {
	display: grid;
	place-content: center;
	background: #111;
}

.waterfall {
	width: 80vw;
	margin: 8em 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1em;
	grid-auto-flow: row dense;
	grid-auto-rows: 10vh;
}

.container h1 {
	color: #fff;
	font-size: 4rem;
}

.waterfall .item:nth-of-type(3n + 1) {
	grid-row: auto / span 3;
}
.waterfall .item:nth-of-type(3n + 2) {
	grid-row: auto / span 4;
}
.waterfall .item:nth-of-type(3n + 3) {
	grid-row: auto / span 5;
}

.waterfall .item {
	overflow: hidden;
	transform: rotate(-7.5deg);
	filter: saturate(0) contrast(10) brightness(0.2);
	transition: transform 0.2s, border 0.1s;
	box-sizing: border-box;
	border: 1em solid transparent;
}

.waterfall .item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: rotate(15deg);
	transition: all 0.3s;
}

.waterfall .item span {
	position: absolute;
	text-align: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	top: 20%;
	left: 33%;
	background: #fff;
	color: #000;
	display: none;
	align-items: center;
	justify-content: center;
	transition: box-shadow 300ms ease-in-out;
	animation: scale 1s forwards;
}

.waterfall .item:hover span {
	display: flex;
	box-shadow: 0 15px 35px 10px rgba(0, 0, 0, 0.5);
}

@keyframes scale {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

.waterfall .item.inbound {
	transform: rotate(0);
	filter: none;
	border-bottom: 1px solid white;
}

.waterfall .item.inbound img {
	transform: rotate(0);
}
